<div class="pdf-text-center">
    <h1>販売見積書</h1>
</div>
<div class="pdf-container-fluid">
    <div class="pdf-row mb-5 p-3 rounded">
        <div class="pdf-col-md-6">
            <% representative = @sales_quotation.representative %>
            <h2>
                <%= @customer.customer_name %>
            </h2>
            <h4>
                <% if representative.department_name.present? && representative.representative_name.blank? %>
                <p><%= representative.department_name %> 御中</p>
                <% elsif representative.department_name.present? && representative.representative_name.present? %>
                <p><%= representative.department_name %></p>
                <p><%= representative.representative_name %> 様</p>
                <% else %>
                <p>御中</p>
                <% end %>
            </h4>
        </div>
        <div class="pdf-col-md-6 pdf-text-right">
            <p>見 積 日: <%= @sales_quotation.quotation_date.strftime("%Y年%m月%d日") %></p>
            <p>見積番号: <%= @sales_quotation.quotation_number %></p>
        </div>
    </div>
    <div class="pdf-row mb-4">
        <div class="pdf-col-md-6">
            <p>有効期限: <%= @sales_quotation.quotation_due_date.strftime("%Y年%m月%d日") %></p>
            <p>納入場所: <%= @sales_quotation.delivery_place %></p>
            <p>納 入 日: <%= @sales_quotation.delivery_date.strftime("%Y年%m月%d日") %></p>
            <p>取引条件: <%= @sales_quotation.trading_conditions %></p>
        </div>
    
        <div class="pdf-col-md-6 pdf-text-right">
            <h6><%= @company_info&.company_name || "未登録" %></h6>
            <p>住所: <%= @company_info&.address || "未登録" %></p>
            <p>電話番号: <%= @company_info&.phone_number || "未登録" %></p>
            <p>FAX番号: <%= @company_info&.fax_number || "未登録" %></p>
            <p>担当: <%= @user.last_name %> <%= @user.first_name %></p>
        </div>
    </div>    
    <div class="pdf-row">
        <table class="pdf-table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>品名</th>
                    <th>数量</th>
                    <th>単位</th>
                    <th>単価</th>
                    <th>金額</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <% @sales_quotation.sales_quotation_items.each_with_index do |item, index| %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.item_name %></td>
                    <td><%= number_with_delimiter(item.quantity) %></td>
                    <td><%= item.unit.unit_name %></td>
                    <td><%= number_with_delimiter(item.unit_price) %></td>
                    <td><%= number_with_delimiter(item.quantity * item.unit_price) %></td>
                    <td><%= item.note %></td>
                </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="pdf-text-right font-weight-bold">合計金額:</td>
                    <td colspan="2" class="font-weight-bold">
                        <%= number_with_delimiter(@sales_quotation.sales_quotation_items.sum { |item| item.quantity * item.unit_price }) %>円
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
