<div class='title-contents'>
  <nav class="navbar justify-content-between">
    <%= link_to 'EstimaSphere', estimates_path, class: "navbar-brand site-title" %>

    <ul class='lists-right'>
        <% if user_signed_in? %>
          <li style="margin-right: 10px;"><%= link_to "#{current_user.last_name}さん", "#", class: "user-name" %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %></li>
        <% else %>  
          <li style="margin-right: 10px;"><%= link_to 'ログイン', user_session_path, class: "nav-link btn btn-outline-success my-2 my-sm-0" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-success my-2 my-sm-0" %></li>
        <% end %>
      </ul>
  </nav>    
</div> 
