
<div class="nested-fields">
  <div class="form-group">
    <%= f.label :department_name, "担当部署" %>
    <%= f.text_field :department_name, class: "form-control", placeholder: "Department name" %>
  </div>
  <div class="form-group">
    <%= f.label :representative_name, "担当者名" %>
    <%= f.text_field :representative_name, class: "form-control", placeholder: "Representative name" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, "担当者電話番号" %>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
</div>


